.radius-24{
	border-radius: 24px;
}
.radius-64{
	border-radius: 64px;
}
.dark-grey{
	color: $dark-secondary-text
}
.light-grey{
	color: $light-secondary-text
}
.dark-title-grey{
	color: #79787A;
}

.offset-y-24{
	margin: 24px 0;
}
.offset-x-24{
	margin: 0 24px;
}
.offset-t-24{
	margin-top: 24px;
}
.offset-b-24{
	margin-bottom: 24px;
}
.offset-r-24{
	margin-right: 24px;
}
.offset-l-24{
	margin-left: 24px;
}
