@import "helpersOffset";

.radius-24{
	border-radius: 24px;
}
.radius-64{
	border-radius: 64px;
}
.dark-grey{
	color: $dark-secondary-text
}
.light-grey{
	color: $light-secondary-text
}
.dark-title-grey{
	color: #79787A;
}


