$bg: red;
$text-black: #010004;
$bg-block-black: #0E0C15;
$white: #ffffff;
$blue: #3843FF;
$pink: #CB38FF;
$green: #00C838;
$light-border: #E7E8EE;
$dark-border: rgba(255,255,255, .08);
$light-secondary-text: #606672;
$dark-secondary-text: #A9A9A9;
