
@import "fonts/fonts";
@import "helpers";

@import './components/headerSidebarContent';
@import './components/buttons';

body{
	margin: 0;
	padding: 0;
	font-family: "Avenir Next Cyr", sans-serif;
	line-height: 140%;
	box-sizing: border-box;
	color: $text-black
}

/* grid*/
.container{
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}


@keyframes cardIcon{
	0%{
		opacity: 0;
		transform: translateY(-20px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}
