button.btn,
a.btn{
	text-decoration: none;
	font-size: 14px;
	font-family: "Avenir Next Cyr", sans-serif;
	font-weight: 500;
	color: $white;
	border-radius: 33px;
	padding: 0 50px;
	height: 48px;
	min-width: 240px;
	display: flex;
	align-items: center;
	column-gap: 8px;
	justify-content: center;
	border: none;
	background: $blue;
	cursor: pointer;
	transition: $anim-small;
	&:hover{
		background: $dark-blue;
	}
	&.pink{
		background: $pink;
		&:hover{
			background: $dark-pink;
		}
	}
	&.green{
		background: $green;
		&:hover{
			background: $dark-green;
		}
	}
}



button.btn-outline,
a.btn-outline{
	height: 44px;
	border-radius: $radius-small;
	border: solid 1px $light-border;
	background: $white;
	padding: 0 57px;
	display: flex;
	align-items: center;
	column-gap: 8px;
	justify-content: center;
	font-size: 14px;
	transition: $anim-small;
	cursor: pointer;
	img{
		transform: rotate(-90deg);
		filter: brightness(0);
	}
	&:hover{
		column-gap: 12px;
		border: solid 1px $blue;
		padding: 0 55px;
	}
}
