.header{
	border: solid 1px var(--border);
	min-height: 78px;
	height: fit-content;
	background: var(--bgHeader);
	border-radius: $radius-big;
	width: calc(100% - 84px);
	max-width: calc(1080px - 64px);
	position: fixed;
	z-index: 100;
	top: 30px;
	margin: auto;
	padding: 0 24px 0 40px;
	backdrop-filter: blur(4px);
	transition: $anim-long;
	&.open{
		border-radius: $radius-small;
		backdrop-filter: blur(0);
		--opacity: 1 !important;
	}
	&-title{
		height: 78px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-links{
		display: flex;
		column-gap: 16px;
		font-size: 14px;
		font-weight: 500;
		a, span{
			display: flex;
			align-items: center;
			column-gap: 8px;
			cursor: pointer;
			color: var(--colorHeader);
			text-decoration: none;
			transition: color $anim-small;
			&:hover{
				color: $blue;
				img{
					filter: brightness(1);
				}
			}
			img{
				margin-top: 1px;
				filter: brightness(.1);
				transition: $anim-small;
			}
		}
	}
	&-number{
		display: flex;
		column-gap: 20px;
		align-items: center;
		a{
			font-size: 14px;
			font-weight: 600;
			color: var(--colorHeader);
			text-decoration: none;
			transition: color $anim-small;
			&:hover{
				color: $blue;
			}
		}
	}
	&-menu{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 65px;
		width: 65px;
		border-radius: 50%;
		transition: $anim-small;
		cursor: pointer;
		&:hover{
			background: rgba(0, 114, 250, 0.16);
		}
		input{
			display: none;
		}
	}
	&-sidebar{
		height: 0;
		overflow: hidden;
		transition: height $anim-long;
		&__content{
			display: flex;
			column-gap: 24px;
			margin: 30px 0 40px 0;
			animation: fade 1s ease;
			.header-sidebar__links{
				width: 65%;
				.links-list{
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: 1fr;
					grid-column-gap: 12px;
					&__main{
						grid-area: 1 / 1 / 2 / 3;
						.links-list__item + .links-list__item{
							margin-top: 16px;
						}
						.links-list__item:hover{
							color: $blue;
						}
						.title{
							font-size: 14px;
							font-weight: 700;
						}
						.description{
							margin-top: 8px;
							font-size: 12px;
							color: $dark-secondary-text
						}
					}
					&__second{
						grid-area: 1 / 3 / 2 / 4;
						cursor: pointer;
						.links-list__item + .links-list__item{
							margin-top: 24px;
						}
						.links-list__item:hover{
							color: $blue;
						}
						.title{
							font-size: 14px;
							font-weight: 600;
						}
					}
					&__item{
						display: flex;
						column-gap: 24px;
						text-decoration: none;
						color: var(--colorHeader);
						transition: $anim-small;
					}
				}
			}
			.header-sidebar__info{
				width: 35%;
			}
			.withLink{
				display: flex;
				column-gap: 16px;
				a{
					font-weight: 600;
					text-decoration: none;
					color: $blue;
				}
			}
		}


		.info-block{
			display: flex;
			column-gap: 12px;
			border-radius: $radius-small;
			border: solid 1px rgba(146, 146, 146, 0.31);
			padding: 20px;
			text-decoration: none;
			transition: $anim-small;
			& + .info-block{
				margin-top: 16px;
			}
			.image{
				display: flex;
				align-items: center;
				justify-content: center;
				background: $text-black;
				border-radius: 14px;
				width: 100px;
				min-width: 100px;
				max-height: 64px;
				overflow: hidden;
				border: solid 1px $light-border;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.info{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.title{
					font-size: pxToRem(12);
					font-weight: 500;
					line-height: 140%;
					color: var(--colorHeader);
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
				}
				.link{
					color: $blue;
					display: flex;
					column-gap: 8px;
					align-items: center;
					font-size: 12px;
					font-weight: 600;
					transition: $anim-small;
					img{
						transform: rotate(-90deg);
					}
				}
			}
			&:hover{
				border: solid 1px $blue;
				.link{
					column-gap: 15px;
				}
			}
		}
	}
}
